:root {
  /* COLOR */
  --color-black: #333333;
  --color-bright-black: #4c4c4c;
  --color-purple: #5f0080;
  --color-bright-purple: #bd76ff;
  --color-red: #fa622f;

  /* SIZE */
  --main-width: 1050px;

  /* FONTSIZE */
  --font-sm: 12.5px;
  --font-base: 16px;
  --font-lg: 28px;
  --font-xl: 32px;
}

/* COMMON */
* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

a {
  display: block;
  text-decoration: none;
}

header {
  width: var(--main-width);
  margin: 0 auto 0;
}

header .header__usermenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header__usermenu img {
  width: 121px;
  height: 22px;
}

header .header__usermenu .list_menus {
  display: flex;
  align-items: center;
  font-size: var(--font-sm);
}

header .header__usermenu .list_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 37px;
}
header .header__usermenu .list_menu a {
  display: flex;
  color: var(--color-bright-black);
}

header .header__usermenu .list_menus .join::after,
.login::after {
  content: "";
  width: 1px;
  height: 13px;
  margin-left: 10px;
  background-color: #d8d8d8;
}

header .header__usermenu .list_menus .join a {
  display: flex;
  color: var(--color-purple);
}

header .header__usermenu .list_menus .cs {
  position: relative;
}

header .header__usermenu .list_menus .cs .fas {
  position: relative;
  bottom: 3px;
  margin-left: 3px;
  font-size: var(--font-sm);
}

/* header 서브 메뉴 */

.cs__sub {
  position: absolute;
  display: none;
  top: 34px;
  left: -36px;
  height: 152px;
  width: 102px;
  padding: 3px 9px;
  border: 1px solid #ddd;
  background-color: #fff;
}

.cs__sub li {
  margin: 11px 0;
  font-weight: 400;
  font-size: var(--font-sm);
  line-height: 12px;
}

header .header__usermenu .list_menus .cs:hover .cs__sub {
  display: block;
}

/* 로고 */
header .header__logo {
  display: flex;
  justify-content: center;
  height: 63px;
}

header .header__logo img {
  position: relative;
  bottom: 21px;
  width: 103px;
  height: 79px;
}

/* 메인메뉴 */
header .header__menus .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--main-width);
}

header .header__menus .inner .menus {
  display: flex;
  justify-content: space-between;
}

header .header__menus .inner .menus a {
  display: flex;
  align-items: center;
  height: 58px;
  color: var(--color-black);
  font-size: var(--font-base);
  font-weight: 700;
  letter-spacing: -0.3px;
  text-align: center;
}

header .header__menus .inner .menus a i {
  padding: 0 16px 4px 0;
  font-size: 18px;
  font-weight: 600;
}

header .header__menus .inner .menus .menu {
  display: flex;
  justify-content: center;
  height: 55px;
}

header .header__menus .inner .menus .menu__1 {
  width: 165px;
  justify-content: flex-start;
}

header .header__menus .inner .menus .menu__2 {
  width: 124px;
}

header .header__menus .inner .menus .menu__3 {
  width: 116px;
}

header .header__menus .inner .menus .menu__4 {
  width: 124px;
}

header .header__menus .inner .menus .menu__5 {
  width: 116px;
}

/* search */
header .header__menus .inner .side_search {
  position: relative;
}

header .header__menus .inner .side_search input {
  height: 32px;
  width: 242px;
  padding: 0 20px;
  background-color: #ededed;
  border-radius: 50px;
  border: none;
  color: var(--color-bright-black);
  font-size: var(--font-sm);
}

header .header__menus .inner .side_search input::placeholder {
  color: #a9a9a9;
}

header .header__menus .inner .side_search input:focus {
  outline: none;
  background-color: #fff;
}

header .header__menus .inner .side_search img {
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
}

/* icons */
header .header__menus .inner .icons ul {
  display: flex;
  align-items: center;
}
header .header__menus .inner .icons ul li:nth-child(1) {
  margin-right: 20px;
}

/* main slide */
.swiper-container {
  position: relative;
}

.mainSwiper .swiper-slide {
  height: 370px;
  width: 100vh;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto auto;
}

.mainSwiper .slide_1 {
  background-image: url("https://img-cf.kurly.com/shop/data/main/1/pc_img_1630490938.jpg");
}

.mainSwiper .slide_2 {
  background-image: url("https://img-cf.kurly.com/shop/data/main/1/pc_img_1630394873.jpg");
}

.mainSwiper .slide_3 {
  background-image: url("https://img-cf.kurly.com/shop/data/main/1/pc_img_1630648425.jpg");
}

.mainSwiper .slide_4 {
  background-image: url("https://img-cf.kurly.com/shop/data/main/1/pc_img_1630548666.jpg");
}

.mainSwiper .slide_5 {
  background-image: url("https://img-cf.kurly.com/shop/data/main/1/pc_img_1628583839.jpg");
}

/* 슬라이드 버튼 */
.mainSwiper-button-next,
.mainSwiper-button-prev {
  display: none;
  position: absolute;
  top: 43%;
  z-index: 1;
}

.swiper-container:hover .mainSwiper-button-prev {
  display: block;
}

.swiper-container:hover .mainSwiper-button-next {
  display: block;
}

.mainSwiper .swiper-button-next {
  display: none;
}
.mainSwiper .mainSwiper-button-next {
  right: 102px;
  width: 52px;
  height: 52px;
  background-image: url("https://res.kurly.com/pc/service/main/1908/ico_next1_x2.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 52px 52px;
  border-radius: 50%;
}

.mainSwiper .swiper-button-prev {
  display: none;
}
.mainSwiper .mainSwiper-button-prev {
  left: 102px;
  width: 52px;
  height: 52px;
  background-image: url("https://res.kurly.com/pc/service/main/1908/ico_prev1_x2.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 52px 52px;
  border-radius: 50%;
}

/* 이 상품 어때요? */
.main_product .product_title {
  padding: 79px 0 35px;
  color: var(--color-black);
  font-size: var(--font-lg);
  font-weight: 500;
}
